@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

main .titulosH1 {
  margin: 1.25em auto;
  padding-top: 0.5em;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-decoration: underline;
  color: #C2B8AE;
}
main .parrafoBlanco {
  margin: 3em 2em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  color: #C2B8AE;
}
main .titulosBlancosH2 {
  padding: 0.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.75em;
  text-align: center;
  color: #C2B8AE;
}

header {
  width: 100%;
  padding: 0.5em;
  background-color: #6097BE;
  position: fixed;
  z-index: 5;
  top: 0;
}
header a {
  text-decoration: none;
}
header a .logoNav {
  width: 7em;
  height: 2.33em;
}
header .navbar-toggler {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: #191610 solid 2px;
  border-radius: 50%;
}
header div .navbarItems {
  margin: 0.625em 1.25em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  color: #191610;
}

footer {
  padding: 0.5em;
  background-color: #6097BE;
}
footer .parrafoFooter1 {
  margin: 1.25em;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  color: #191610;
}
footer div .itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
}
footer div .itemContainer .footerItems {
  display: inline-block;
  margin: 0.2em 0.2em;
}
footer .ultimoTexto {
  text-align: center;
}

body {
  background-color: #191610;
}
body main {
  margin-top: 5.3em;
}
body main .imagenMain {
  width: 100%;
  height: 100%;
}
body main .caja {
  margin-top: 7em;
  margin-bottom: 7em;
}
body main .seccion1 {
  display: block;
  margin: auto;
  max-width: 85%;
  padding: 2.5em 0em 3.5em;
  background-color: #191610;
  border-top: solid #C2B8AE 3px;
}
body main .seccion1 .video {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
}
body main .seccion2 {
  display: block;
  margin: auto;
  max-width: 85%;
  padding: 2.5em 0em 3.5em;
  background-color: #191610;
  border-top: solid #C2B8AE 3px;
  border-bottom: solid #C2B8AE 3px;
}
body main .seccion2 .contenidoSeccion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body main .seccion2 .contenidoSeccion2 .imgSeccion2 {
  display: block;
  width: 70%;
  height: 100%;
  margin: 1em auto;
  border: none;
}
body main .seccion2 .contenidoSeccion2 .imgSeccion2:hover {
  transform: scale(1.15);
  transition-property: all;
  transition-duration: 1s;
}
body main .seccion2 .divSeccion2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
body main .seccion2 .divSeccion2 .botonSeccion2 {
  margin: 0.33em;
  padding: 0.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 1px;
  border: solid;
  border-radius: 5px;
  background-color: #1E3748;
  color: #C2B8AE;
  text-decoration: none;
}
body main .seccion2 .divSeccion2 .botonSeccion2:hover {
  transition-duration: 0.3s;
  background-color: #3d6885;
}
body main .seccion3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 1em 3.5em;
  background-color: #191610;
}
body main .seccion3 .tablaSeccion3 {
  text-align: center;
  vertical-align: middle;
  border: #C2B8AE solid;
  color: #C2B8AE;
}
body main .seccion3 .tablaSeccion3 th {
  border-width: 0.05em;
  border: #C2B8AE solid;
}
body main .seccion3 .tablaSeccion3 td {
  border-width: 0.05em;
  border: #C2B8AE solid;
}

.bandaSeccionBlanca {
  display: block;
  margin: auto;
  max-width: 85%;
  padding: 2.5em 0em 3.5em;
  background-color: #191610;
  border-top: solid #C2B8AE 3px;
}
.bandaSeccionBlanca div .parrafoBlanco {
  text-align: start;
  margin: 2.5em 1.5em;
}

.fondoBlanco {
  display: block;
  margin: auto;
  max-width: 85%;
  padding: 2.5em 0em 3.5em;
  background-color: #191610;
  border-top: solid #C2B8AE 3px;
}
.fondoBlanco .discografiaSeccionBlanca {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.fondoBlanco .discografiaSeccionBlanca .imagenDiscografia {
  display: block;
  width: 66%;
  height: 66%;
  margin: 3em auto;
  border: #615d5d solid;
}
.fondoBlanco .discografiaSeccionBlanca .listaSeccionBlanca {
  margin: 0.5em 0.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #C2B8AE;
}

.contenedorMedia {
  display: grid;
  justify-content: center;
  grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6" "imagen7" "imagen8" "imagen9" "imagen10" "imagen11" "imagen12" "imagen13";
}
.contenedorMedia .imagenesMedia {
  display: block;
  width: 75%;
  height: 75%;
  margin: 0.5em auto;
  border: #C2B8AE solid;
}
.contenedorMedia .captionImagen {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 1em 0.2em 3em;
  color: #C2B8AE;
}

.imagen1 {
  grid-area: imagen1;
}

.imagen2 {
  grid-area: imagen2;
}

.imagen3 {
  grid-area: imagen3;
}

.imagen4 {
  grid-area: imagen4;
}

.imagen5 {
  grid-area: imagen5;
}

.imagen6 {
  grid-area: imagen6;
}

.imagen7 {
  grid-area: imagen7;
}

.imagen8 {
  grid-area: imagen8;
}

.imagen9 {
  grid-area: imagen9;
}

.imagen10 {
  grid-area: imagen10;
}

.imagen11 {
  grid-area: imagen11;
}

.imagen12 {
  grid-area: imagen12;
}

.imagen13 {
  grid-area: imagen13;
}

.formSeccion {
  padding: 0.5em;
  margin: 0.5em;
}
.formSeccion form {
  display: block;
  margin: auto;
  max-width: 1020px;
  background-color: #C2B8AE;
}
.formSeccion form .formContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  margin: 5em auto;
}
.formSeccion form .formContacto .labelContacto {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #191610;
  padding: 0.5em;
}
.formSeccion form .formContacto .inputContacto {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #191610;
  margin: 1em;
}
.formSeccion form .formContacto .textContacto {
  width: 95%;
  margin: 0.125em 0.5em;
}
.formSeccion form .formContacto .parrafoForm {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #191610;
  padding: 0.5em 0.5em 0;
}
.formSeccion form .formContacto .contenedorSubmit {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 1em;
}
.formSeccion form .formContacto .contenedorSubmit .submit {
  padding: 0.5em;
  font-size: larger;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  body main .titulosH1 {
    margin: 1.5em auto;
    font-size: 2.75em;
  }
  body main .parrafoNegro {
    margin: 1.25em 2.5em;
    font-size: 1.25em;
  }
  body main .parrafoBlanco {
    margin: 1.25em 2.5em;
    font-size: 1.25em;
  }
  body main .titulosBlancosH2 {
    padding: 0.75em;
    font-size: 2em;
  }
  body main .titulosOscurosH2 {
    padding: 0.75em;
    font-size: 2em;
  }
  body main .seccion2 .contenidoSeccion2 {
    flex-direction: row;
  }
  body main .seccion2 .contenidoSeccion2 .imgSeccion2 {
    width: 85%;
    margin: 1.5em auto;
  }
  body main .seccion3 {
    padding: 3.5em 4em;
  }
  body main .seccion3 .tablaSeccion3 th {
    font-size: 1.25em;
  }
  body main .seccion3 .tablaSeccion3 td {
    font-size: 1.25em;
  }
  body main .fondoBlanco .discografiaSeccionBlanca {
    flex-direction: row;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  body main .fondoBlanco .discografiaSeccionBlanca .listaSeccionBlanca {
    margin: 0.75em 0.75em;
  }
  body main .fondoBlanco .discografiaSeccionBlanca .imagenDiscografia {
    width: 75%;
    height: 75%;
  }
  body main .fondoBlanco .reverse {
    flex-direction: row-reverse;
  }
  body main .contenedorMedia {
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6" "imagen7 imagen8" "imagen9 imagen10" "imagen11 imagen12" "imagen13 imagen13";
  }
  body main .contenedorMedia .imagenesMedia {
    object-fit: cover;
  }
  body main .formSeccion {
    padding: 2em;
    margin: 2em;
  }
}
@media screen and (min-width: 992px) {
  body header a:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.5s;
    padding: 3px;
    text-decoration: underline;
  }
  body header .logoLink:hover {
    transform: none;
    padding: 0;
  }
  body header .logoLink .logoNav {
    margin-right: 5em;
    margin-left: 2em;
  }
  body main .titulosH1 {
    margin: 1.5em auto;
    font-size: 3.25em;
  }
  body main .parrafoNegro {
    margin: 1.5em 6em;
    font-size: 1.5em;
  }
  body main .parrafoBlanco {
    margin: 1.5em 6em;
    font-size: 1.5em;
  }
  body main .titulosOscurosH2 {
    padding: 1.25em;
    font-size: 2.5em;
  }
  body main .titulosBlancosH2 {
    padding: 1.25em;
    font-size: 2.5em;
  }
  body main .seccion1 .video iframe {
    width: 840px;
    height: 460px;
  }
  body main .seccion3 {
    padding: 2em 7em 4em;
  }
  body main .seccion3 .tablaSeccion3 {
    max-width: 1120px;
  }
  body main .fondoBlanco .discografiaSeccionBlanca {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  body main .fondoBlanco .discografiaSeccionBlanca .listaSeccionBlanca {
    margin: 1em 1em;
    font-size: 1.1em;
  }
  body main .contenedorMedia {
    grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen9" "imagen10 imagen11 imagen12" ". imagen13 .";
  }
  body main .contenedorMedia .imagenesMedia {
    width: 80%;
    height: 60%;
  }
}

/*# sourceMappingURL=estilo.css.map */
