.formSeccion {
    padding: 0.5em;
    margin: 0.5em;

    form{
        display: block;
        margin: auto;
        max-width: 1020px;
        background-color: $background-color_3;

        .formContacto {
            @include flex(column, center, flex-start);
            width: 100%;
            max-width: 900px;
            margin: 5em auto;
    
            .labelContacto {
                @include textoContacto;
                padding: 0.5em;
            }
    
            .inputContacto {
                @include textoContacto;
                margin: 1em;
            }
    
            .textContacto {
                width: 95%;
                margin: 0.125em 0.5em;
            }
    
            .parrafoForm {
                @include textoContacto;
                padding: 0.5em 0.5em 0;
            }
    
            .contenedorSubmit {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 900px;
                margin-bottom: 1em;
    
                .submit {
                    padding: 0.5em;
                    font-size: larger;
                    font-weight: bolder;
                }
            }
        }
    }

}