body {
    background-color: $background-color_2;

    main {
        margin-top: 5.3em;

        .imagenMain {
            width: 100%;
            height: 100%;
        }

        .caja{
            margin-top: 7em;
            margin-bottom: 7em;
        }

        .seccion1 {
            @include secciones;

            .video {
                display: flex;
                justify-content: center;
                padding-bottom: 0.5em;
            }
        }

        .seccion2 {
            @include secciones;
            border-bottom: solid #C2B8AE 3px;

            .contenidoSeccion2 {
                @include flex(column, center, center);
                margin: 1em;

                .imgSeccion2 {
                    @include imagenes(70%, 100%, 1em auto, none);

                    &:hover {
                        transform: scale(1.15);
                        transition-property: all;
                        transition-duration: 1s;
                    }
                }
            }

            .divSeccion2 {
                @include flex(column, flex-start, center);
                padding: 1rem;

                .botonSeccion2 {
                    margin: 0.33em;
                    padding: 0.5em;
                    font-family: $font-family_1;
                    font-size: 1em;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    border: solid;
                    border-radius: 5px;
                    background-color: $background-color_4;
                    color: $color_2;
                    text-decoration: none;

                    &:hover {
                        transition-duration: 0.3s;
                        background-color: $background-color_5;
                    }
                }
            }
        }

        .seccion3 {
            @include flex(column, center, center);
            padding: 2.5em 0em 3.5em;
            background-color: $background-color_2;

            .tablaSeccion3 {
                text-align: center;
                vertical-align: middle;
                border: #C2B8AE solid;
                color: $color_2;

                th {
                    border-width: 0.05em;
                    border: #C2B8AE solid;
                }

                td {
                    border-width: 0.05em;
                    border: #C2B8AE solid;
                }
            }
        }
    }
}