header {
    width: 100%;
    padding: 0.5em;
    background-color: $background-color_1;
    position: fixed;
    z-index: 5;
    top: 0;

    a {
        text-decoration: none;

        .logoNav {
            width: 7em;
            height: 2.33em;
        }
    }

    .navbar-toggler {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border: #191610 solid 2px;
        border-radius: 50%;
    }

    .navbarItems {
        margin: 0.625em 1.25em;
        font-family: $font-family_1;
        font-size: 1em;
        font-weight: bolder;
        text-align: center;
        color: $color_1;
    }
}