$color_1: #191610;
$color_2: #C2B8AE;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #6097BE;
$background-color_2: #191610;
$background-color_3: #C2B8AE;
$background-color_4: #1E3748;
$background-color_5: #3d6885;
$border-color_1: #C2B8AE;